header.header.navbar.navbar-default.navbar-fixed-top(headroom)
  .container
    .navbar-header
      a.navbar-brand.header__brand The Migrants' Files

    ul.nav.navbar-nav.header__links
      li
        a Newsletter
      li
        a The money trails
      li
        a Counting the dead
