header.header.navbar.navbar-default.navbar-fixed-top(headroom)
  .container
    .navbar-header
      a.navbar-brand.header__brand The Migrants' Files

    ul.nav.navbar-nav.header__links
      li(du-scrollspy="newsletter")
        a(href="#newsletter", du-smooth-scroll) Newsletter
      li(du-scrollspy="the-money-trails")
        a(href="#the-money-trails", du-smooth-scroll) The money trails
      li(du-scrollspy="counting-the-dead")
        a(href="#counting-the-dead", du-smooth-scroll) Counting the dead
