.main

  .main__header
    iframe.main__header__map(width="100%", height="100%",  allowfullscreen="", frameborder="0", src="https://jplusplus.cartodb.com/viz/9284b33a-e903-11e4-8de1-0e0c41326911/embed_map")
    .main__header__title
      .container
        .row
          .col-sm-6
            h1 The human and financial cost of 15 years of fortress Europe
            p.lead.
              The Migrants Files is a consortium of journalists from over 10 EU countries.
              It is coordinated by <a href="http://jplusplus.org" target="_blank">Journalism++</a>.
            p
              img(src="assets/images/laurels.svg", height="20")
              | &nbsp; Winner, Data Journalism Awards 2014<br />
              img(src="assets/images/laurels.svg", height="20")
              | &nbsp; Winner, European Press Prize 2015


  #newsletter.main__subscribe
    .container
        .row.text-center
          .col-sm-6.col-sm-offset-3
              h2 Subscribe to the newsletter
              form(name="subscribeForm", ng-submit="subscribe(form.email)")
                .lead Lorem ipsum dolor sit description
                .input-group.input-group-lg
                  input.form-control.input-lg(type="email", placeholder="your@email.com", required, ng-model="form.email")
                  span.input-group-btn
                    button.btn.btn-default(type="submit", ng-disabled="!subscribeForm.$valid")
                      | Subscribe


  .main__links
    .container
      .row.text-center

        .col-sm-4.col-sm-offset-1
          h2 The money trails <sup>new</sup>
          .lead.
            The Migrants' Files project was launched in August 2013 by a group of
            European journalists who joined forces to accurately calculate and report
            the deaths of emigrants seeking refuge in Europe.
          a(href="#the-money-trails", du-smooth-scroll).btn.btn-outline.btn-white.btn-lg Read the story

        .col-sm-4.col-sm-offset-2
          h2 Counting the dead
          .lead.
            The Migrants' Files project was launched in August 2013 by a group of
            European journalists who joined forces to accurately calculate and report
            the deaths of emigrants seeking refuge in Europe.
          a(href="#counting-the-dead", du-smooth-scroll).btn.btn-outline.btn-white.btn-lg Read the story

  #the-money-trails.main__article.main__article--first
    .container
      .row
        .main__article__body.col-sm-7
          h2.main__article__title The money trails
          include:markdown ../../articles/the-money-trails.md
        .main__article__sidebar.col-sm-4.col-sm-offset-1
          h3.main__article__sidebar__title Material
          h3.main__article__sidebar__title Partners
          h3.main__article__sidebar__title Credits
          p <strong>Coordination</strong>: Journalism++
          p <strong>Research and code</strong>: Elaine Allaby, Michail Batikas (Radiobubble), Michael Bauer (Der Standard), Ana Isabel Carvalho (Journalism++ Porto), Jakob Espersen, Daniele Grasso (El Confidencial), Peter Grensund (Journalism++ Stockholm), Sylke Grunwald (SRF), Markus Hametner (Der Standard), Kristian Holgersen, Alice Kohli, Ricardo Lafuente (Journalism++ Porto), Alexandre Léchenet (Libération), Jean-Marc Manach, Andrea Nelson Mauro (Dataninja), Jacopo Ottaviani, Lise Møller Schilder, Katerina Stavroula (Radiobubble).
          p <strong>Research assistants</strong>: Clotilde Lavergne-Bril, Niklas Swedberg

  #counting-the-dead.main__article.main__article--second
    .container
      .row
        .main__article__body.col-sm-7
          h2.main__article__title Counting the dead
          include:markdown ../../articles/counting-the-dead.md
        .main__article__sidebar.col-sm-4.col-sm-offset-1
          h3.main__article__sidebar__title Material

          h3.main__article__sidebar__title Partners
          .main__article__sidebar__partner
            img(alt="NZZ", src="https://detective-io.s3.amazonaws.com/img/partners/01%20-%20NZZ.png")
          .main__article__sidebar__partner
            img(alt="El Confidencial", src="https://detective-io.s3.amazonaws.com/img/partners/02%20-%20El%20Confidencial.png")
          .main__article__sidebar__partner
            img(alt="Radiobubble", src="https://detective-io.s3.amazonaws.com/img/partners/03%20-%20Radiobubble.png")
          .main__article__sidebar__partner
            img(alt="Sydsvenskan", src="https://detective-io.s3.amazonaws.com/img/partners/04%20-%20Sydsvenskan.png")
          .main__article__sidebar__partner
            img(alt="lespresso", src="https://detective-io.s3.amazonaws.com/img/partners/05%20-%20lespresso.png")
          .main__article__sidebar__partner
            img(alt="HLB", src="https://detective-io.s3.amazonaws.com/img/partners/06%20-%20HLB.png")
          .main__article__sidebar__partner
            img(alt="Le Monde Diplomatique", src="https://detective-io.s3.amazonaws.com/img/partners/07%20-%20Le%20Monde%20Diplomatique.png")
          .main__article__sidebar__partner
            img(alt="EUObserver", src="https://detective-io.s3.amazonaws.com/img/partners/08%20-%20EUObserver.png")
          .main__article__sidebar__partner
            img(alt="MO", src="https://detective-io.s3.amazonaws.com/img/partners/09%20-%20MO.png")


          h3.main__article__sidebar__title Credits
          p The Migrants’ Files is a project by data journalism agencies Journalism++ SAS, Journalism++ Stockholm and Dataninja; media outlets Neue Zürcher Zeitung, El Confidencial, Sydsvenskan and Radiobubble as well as freelance journalists Alice Kohli, Jean-Marc Manach and Jacopo Ottaviani. The project is partially financed by Journalismfund.eu.
          p The data for The Migrants’ Files draw on previous work by <a target="_blank" href="http://www.unitedagainstracism.org">United for Intercultural Action</a>, Gabriele Del Grande's Fortress Europe and Puls, as well as additional research.
          p Sixteen students of the Laboratory of Data Journalism at the University of Bologna have contributed to the project checking the details of a sample of incidents, supervised by Prof. Carlo Gubitosa.
          p Media partners supporting the journalism consortium’s work are L’Espresso, Le Monde Diplomatique.
