.main

  .main__header
    iframe.main__header__map(width="100%", height="100%",  allowfullscreen="", frameborder="0", src="//jplusplus.github.io/tmf-map/?lang=en_US")
    .main__header__title
      .container
        .row
          .col-sm-6
            h1 The human and financial cost of 15 years of Fortress Europe
            p.lead.
              The Migrants Files is a consortium of journalists from over 15 European countries.
              It is coordinated by <a target="_blank" href="http://jplusplus.org" target="_blank">Journalism++</a>.
            p
              img(src="assets/images/laurels.svg", height="20")
              | &nbsp; Winner, Data Journalism Awards 2014<br />
              img(src="assets/images/laurels.svg", height="20")
              | &nbsp; Winner, European Press Prize 2015


  #newsletter.main__subscribe
    .container
        .row.text-center
          .col-sm-6.col-sm-offset-3
              h2 Subscribe to the newsletter
              form(name="subscribeForm", ng-submit="subscribe(form.email)")
                .lead Every 3 months, get data-driven insights on migration to Europe.
                .input-group.input-group-lg
                  input.form-control.input-lg(type="email", placeholder="your@email.com", required, ng-model="form.email")
                  span.input-group-btn
                    button.btn.btn-default(type="submit", ng-disabled="!subscribeForm.$valid")
                      | Subscribe


  .main__links
    .container
      .row.text-center

        .col-sm-4.col-sm-offset-1
          h2 The Money Trails <sup>new</sup>
          .lead.
            Refugees and migrants spend over €1&nbsp;billion a year
            to reach Europe. Europeans pay a similar amount to keep them out.
            A few companies benefit handsomely in the process.
          a(target="_blank" href="#the-money-trails", du-smooth-scroll).btn.btn-outline.btn-white.btn-lg Read the story

        .col-sm-4.col-sm-offset-2
          h2 Counting the Dead
          .lead.
            Over 30,000 refugees and migrants died
            in their attempt to reach or stay in Europe since 2000.
            Our investigation showed how European policies impacted the death rate.
          a(target="_blank" href="#counting-the-dead", du-smooth-scroll).btn.btn-outline.btn-white.btn-lg Read the story


      .main__links__journalismfund
        p This project is supported in part by
        a(target="_blank" href="//journalismfund.eu/")
          img.img-responsive(src="assets/images/journalismfund.png")

  #the-money-trails.main__article.main__article--first
    .container
      .row
        .main__article__body.col-sm-7
          h1.main__article__title The Money Trails
          include:markdown ../../articles/the-money-trails.md
        .main__article__sidebar.col-sm-4.col-sm-offset-1
          h3.main__article__sidebar__title Stories
          p
            a(target="_blank" href="http://derstandard.at/2000017367872/Festung-Europa-Kosten-Wege-und-Strukturen") "Festung Europa": Kosten, Wege und Strukturen (Der Standard)
          p 
            a(target="_blank" href="http://www.groene.nl/artikel/de-miljardeneconomie-achter-fort-europa") De miljardeneconomie achter Fort Europa (De Groene Amsterdammer)
          p
            a(target="_blank" href="http://wyborcza.pl/1,75477,18141129,Imigranci__Co_Europa_robi__zeby_ich_nie_wpuscic_.html") Imigranci. Co Europa robi, żeby ich nie wpuścić? (Gazeta Wyborcza)
          p
            a(target="_blank" href="http://www.rozhlas.cz/zpravy/data/_zprava/kolik-stoji-pevnost-evropa--1502982") Kolik nás stojí „pevnost Evropa” (Český rozhlas)
          p
            a(target="_blank" href="http://www.liberation.fr/monde/2015/06/17/traverser-coute-que-coute_1331905") Méditerranée : traverser, coûte que coûte (Libération)
          p  
            a(target="_blank" href="http://www.srf.ch/news/international/milliardenindustrie-menschenschmuggel") Milliardenindustrie Menschenschmuggel (SRF)
          p
            a(target="_blank" href="http://www.elconfidencial.com/mundo/2015-06-18/europa-gasta-13-000-millones-para-frenar-la-inmigracion-los-traficantes-ganan-16-000_888641/") Europa gasta 13.000 millones para frenar la inmigración, los traficantes ganan 16.000 (El Confidencial)

          h3.main__article__sidebar__title Partners
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Libération", src="assets/images/liberation.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Dnevnik", src="assets/images/dnevnik.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="SRF", src="assets/images/srf.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Enthemata", src="assets/images/enthemata.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Visão", src="assets/images/visao.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Der Standard", src="assets/images/derstandard.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Vice News", src="assets/images/vicenews.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Süddeutsche Zeitung", src="assets/images/sz.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Information", src="assets/images/information.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Český rozhlas", src="assets/images/czrozhlas.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Gazeta", src="assets/images/gazeta.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Biqdata", src="assets/images/biqdata.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Groene Amsterdammer", src="assets/images/groeneamsterdammer.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="El Confidencial", src="https://detective-io.s3.amazonaws.com/img/partners/02%20-%20El%20Confidencial.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Radiobubble", src="https://detective-io.s3.amazonaws.com/img/partners/03%20-%20Radiobubble.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Sydsvenskan", src="https://detective-io.s3.amazonaws.com/img/partners/04%20-%20Sydsvenskan.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="lespresso", src="https://detective-io.s3.amazonaws.com/img/partners/05%20-%20lespresso.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="HLB", src="https://detective-io.s3.amazonaws.com/img/partners/06%20-%20HLB.png")
          h3.main__article__sidebar__title Credits
          p <strong>Coordination</strong>: Journalism++
          p <strong>Research and code</strong>: Elaine Allaby, Michael Bauer (Der Standard), Ana Isabel Carvalho (Journalism++ Porto), Aleksander Derylo (BIQdata), Jakob Espersen, Marcin Gebala (BIQdata), Daniele Grasso (El Confidencial), Peter Grensund (Journalism++ Stockholm), Sylke Gruhnwald (SRF), Timo Grossenbacher (SRF), Markus Hametner (Der Standard), Kristian Holgersen, Alice Kohli, Ricardo Lafuente (Journalism++ Porto), Alexandre Léchenet (Libération), Vadim Makarenko (BIQdata), Jean-Marc Manach, Andrea Nelson Mauro (Dataninja), Jacopo Ottaviani, Adam Rodriques (Global Initiative), Lise Møller Schilder, Julian Schmidli (SRF), Katerina Stavroula (Radiobubble), Marta Urzedowska (Gazeta Wyborcza).
          p <strong>Research assistants</strong>: Clotilde Lavergne-Bril, Niklas Svedberg.

  #counting-the-dead.main__article.main__article--second
    .container
      .row
        .main__article__body.col-sm-7
          h1.main__article__title Counting the dead
          include:markdown ../../articles/counting-the-dead.md
        .main__article__sidebar.col-sm-4.col-sm-offset-1
          h3.main__article__sidebar__title Stories
          p
            a(target="_blank" href="http://www.nzz.ch/aktuell/international/auslandnachrichten/die-toten-vor-europas-tueren-1.18272891#") Die Toten vor Europas Türen (NZZ)
          p
            a(target="_blank" href="http://www.nzz.ch/aktuell/international/auslandnachrichten/daten-einer-tragoedie-1.18272916") Daten einer Tragödie (NZZ)
          p
            a(target="_blank" href="http://www.rbdata.gr/themigrantsfiles/index.html") Τα θανατηφόρα τείχη της Ευρώπης (Radiobubble)
          p
            a(target="_blank" href="http://www.elconfidencial.com/mundo/2014-03-31/trece-anos-de-inmigracion-mas-de-23-000-muertos-por-intentar-alcanzar-europa_108953/") Trece años de inmigración: más de 23.000 muertos por intentar alcanzar Europa (El Confidencial)
          p
            a(target="_blank" href="http://www.elconfidencial.com/mundo/2014-03-31/ante-el-cierre-de-fronteras-los-inmigrantes-se-vuelcan-hacia-rutas-mas-peligrosas_109006/") Ante el cierre de fronteras, los inmigrantes se vuelcan hacia rutas más peligrosas (El Confidencial)
          p
            a(target="_blank" href="http://hbl.fi/nyheter/2014-03-31/587881/fastning-europa-kraver-tusentals-liv") Fästning Europa kräver tusentals liv (€, HBL)
          p
            a(target="_blank" href="http://speciali.espresso.repubblica.it/interattivi-2014/migranti/index.html") Migranti, la guerra del Mediterraneo (L&#8217;Espresso)
          p
            a(target="_blank" href="http://www.mo.be/nieuws/de-weg-naar-europa-een-kerkhof") De weg naar Europa is een kerkhof (Mondial Nieuws)
          p
            a(target="_blank" href="http://www.monde-diplomatique.fr/carnet/2014-03-31-morts-aux-frontieres") « Ces gens-là sont morts, ce ne sont plus des migrants » (Le Monde Diplomatique)
          p
            a(target="_blank" href="http://euobserver.com/justice/123682") Surveying migrants&#8217; deaths at Europe&#8217;s door (EU Observer)
          p
            a(target="_blank" href="https://www.groene.nl/artikel/de-dodelijke-grens-van-europa") De dodelijke grens van Europa (De Groene Amsterdammer)

          h3.main__article__sidebar__title Partners
          .main__article__sidebar__partner
            img.img-thumbnail(alt="NZZ",src="https://detective-io.s3.amazonaws.com/img/partners/01%20-%20NZZ.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="El Confidencial", src="https://detective-io.s3.amazonaws.com/img/partners/02%20-%20El%20Confidencial.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Radiobubble", src="https://detective-io.s3.amazonaws.com/img/partners/03%20-%20Radiobubble.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Sydsvenskan", src="https://detective-io.s3.amazonaws.com/img/partners/04%20-%20Sydsvenskan.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="lespresso", src="https://detective-io.s3.amazonaws.com/img/partners/05%20-%20lespresso.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="HLB", src="https://detective-io.s3.amazonaws.com/img/partners/06%20-%20HLB.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Le Monde Diplomatique", src="https://detective-io.s3.amazonaws.com/img/partners/07%20-%20Le%20Monde%20Diplomatique.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="EUObserver", src="https://detective-io.s3.amazonaws.com/img/partners/08%20-%20EUObserver.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="MO", src="https://detective-io.s3.amazonaws.com/img/partners/09%20-%20MO.png")
          .main__article__sidebar__partner
            img.img-thumbnail(alt="Groene Amsterdammer", src="assets/images/groeneamsterdammer.png")


          h3.main__article__sidebar__title Credits
          p The Migrants’ Files is a project by data journalism agencies Journalism++ SAS, Journalism++ Stockholm and Dataninja; media outlets Neue Zürcher Zeitung, El Confidencial, Sydsvenskan and Radiobubble as well as freelance journalists Alice Kohli, Jean-Marc Manach and Jacopo Ottaviani. The project is partially financed by Journalismfund.eu.
          p The data for The Migrants’ Files draw on previous work by <a target="_blank" target="_blank" href="http://www.unitedagainstracism.org">United for Intercultural Action</a>, Gabriele Del Grande's Fortress Europe and Puls, as well as additional research.
          p Sixteen students of the Laboratory of Data Journalism at the University of Bologna have contributed to the project checking the details of a sample of incidents, supervised by Prof. Carlo Gubitosa.
          p Media partners supporting the journalism consortium’s work are L’Espresso, Le Monde Diplomatique.
