doctype html
html
  head
    meta(charset='utf-8')    
    title The Migrants Files 
       
    meta(name='viewport', content='width=device-width')    
    meta(name='description', content='The Migrants Files is a consortium of journalists from over 10 EU countries. It is coordinated by Journalism++.')    
    meta(property='og:title', content='The Migrants Files')    
    meta(property='og:description', content='The Migrants Files is a consortium of journalists from over 10 EU countries. It is coordinated by Journalism++.')    
    meta(property='og:url', content='http://www.themigrantsfiles.com/')    
    meta(property='og:image', content='http://www.themigrantsfiles.com/assets/images/tm.jpg')    
    meta(name='twitter:title', content='The Migrants Files')    
    meta(name='twitter:description', content='The Migrants Files is a consortium of journalists from over 10 EU countries. It is coordinated by Journalism++.')    
    meta(name='twitter:image', content='http://www.themigrantsfiles.com/assets/images/tm.jpg')    
    meta(name='twitter:image:src', content='http://www.themigrantsfiles.com/assets/images/tm.jpg')    
    meta(name='twitter:url', content='http://www.themigrantsfiles.com/')
    link(rel='stylesheet', href='styles/vendor.css')
    link(rel='stylesheet', href='styles/index.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')   
  body
    header.header.navbar.navbar-default.navbar-fixed-top(headroom)
        .container
          .navbar-header
            a.navbar-brand.header__brand The Migrants' Files    
          ul.nav.navbar-nav.navbar-collapse.header__links
            li
              a(href="/") Back to the homepage
    .container.header-gap
      include:markdown articles/frontex-blindness.md
      br 
